* {
    padding: 0px;
    margin: 0px;
    font-family: "Martel Sans";
}

body {
    background-color: black;
}

.main {
    background-image: url(Assets/images/background-image.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}


nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    position: relative;
    z-index: 1;
}

nav button {
    position: relative;
    z-index: 1;
    margin-top: 25px;
    background-color: #e50914;
    color: white;
    border: none;
    padding: 2px 18px;
    font-size: 15px;
    font-weight: 900;
    border-radius: 4px;
    cursor: pointer;
}
nav button:hover{
    background-color: #94050c;
}

nav select {
    position: relative;
    z-index: 1;
    width: 200px;
    background: url(Assets/images/language.svg) no-repeat 8px center;
    background-size: 20px;
    padding: 2px 35px;
    font-size: 14px;
    border: 1px solid #ffffff73;
    border-radius: 5px;
    color: white;
    margin-right: 5px;

}

option {
    color: black;
}

.hero {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: "Martel Sans";
    gap: 23px;
    padding: 30px;
}

.hero> :first-child {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(68, 66, 66);
    position: relative;
    z-index: 20;
}

.btn {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 3px 20px;
    font-size: 20px;
    font-weight: 900;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn:hover{
    background-color: #94050c;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;

}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}



.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

/* Video will add later */
/* .secImg video{
    position: absolute;
    top: 51px;
    right: 0;

} */
section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
}

.faq {
    color: white;
    padding: 32px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 5px auto;
    cursor: pointer;
}

.faqbox:hover {
    background-color: #414141;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

.questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer a {
    color: white;
    font-size: 14px;
}

@media screen and (max-width: 1325px) {

    /* body{
        background-color: red;
    } */
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
        position: relative;
        z-index: 10;
    }

    /* Video will add later */
    /* .secImg video{
    width: 305px;
    } */
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;

    }

    .footer-item {
        align-items: center;
    }

    .hero> :first-child {
        font-size: 32px;

    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .hero {
        height: 80%;
    }

    .faq h2 {
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
    }
}


@media screen and (max-width: 533px) {

    /* body{
        background-color: red;
    } */
    nav {
        max-width: 100vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 205px;
        position: relative;
        z-index: 10;
    }

    /* Video will add later */
    /* .secImg video{
    width: 305px;
    } */

    .hero> :first-child {
        font-size: 16px;

    }

    .hero> :nth-child(2) {
        font-size: 9px;
    }

    .hero> :nth-child(3) {
        font-size: 9px;
    }


    .hero {
        height: 60%;
    }

    .faq h2 {
        font-size: 16px;
    }
}